@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------------*\
         Colors
\*-----------------------*/
/*-----------------------*\
         Table
\*-----------------------*/
/*-----------------------*\
         Link
\*-----------------------*/
/*-----------------------*\
         Button
\*-----------------------*/
/*-----------------------*\
         Container
\*-----------------------*/
/*-----------------------*\
         Nav
\*-----------------------*/
/*-----------------------*\
         Media size
\*-----------------------*/
/*-----------------------*\
         Colors and backgrounds
\*-----------------------*/
.b-white-translucide {
  background-color: rgba(255, 255, 255, 0.9); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RobotoDraft', sans-serif;
  color: #000; }

h1 {
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 0.5em; }
  h1.sub {
    font-size: 2em; }

h2 {
  font-size: 2.5em;
  font-weight: 100;
  margin-bottom: 0.5em; }
  h2.sub {
    font-size: 1.5em; }

h3 {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 0.5em; }
  h3.sub {
    font-size: 1em; }

h4 {
  font-size: 1.75em;
  font-weight: 100;
  margin-bottom: 0.5em; }
  h4.sub {
    font-size: 0.75em; }

h5 {
  font-size: 1.50em;
  font-weight: 100;
  margin-bottom: 0.5em; }
  h5.sub {
    font-size: 0.50em; }

h6 {
  font-size: 1.25em;
  font-weight: 100;
  margin-bottom: 0.5em; }
  h6.sub {
    font-size: 0.25em; }

body {
  font-family: 'RobotoDraft', sans-serif; }

p {
  margin-bottom: 0.5em;
  font-weight: 300; }

b {
  font-weight: bold; }

small {
  font-size: 50%; }

a {
  cursor: pointer;
  color: #4285f4;
  text-decoration: none; }

a:hover {
  color: #1746d6; }

mark,
del,
ins,
u,
strong,
em,
abbr {
  color: #3498db; }

blockquote {
  margin-left: 15px;
  padding-left: 40px;
  padding-bottom: 1em;
  position: relative;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.2em; }

blockquote:before {
  content: "«";
  font-size: 4em;
  font-family: 'RobotoDraft';
  position: absolute;
  left: -10px;
  top: 0px; }

.code {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #2c3e50;
  color: white;
  line-height: 1.5em; }

code {
  font-family: monospace;
  overflow: visible; }

pre {
  font-family: "courier new";
  overflow: visible; }

kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  display: inline-block;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff; }

ul {
  margin-bottom: 0.5em; }
  ul.no-margin li {
    margin-left: 0; }
  ul.margin-bottom li {
    margin-bottom: 0.5em; }
  ul li {
    font-weight: 300;
    margin-left: 20px;
    padding-left: 0px;
    list-style-type: disc; }
    ul li.none {
      list-style-type: none; }
    ul li.li_square {
      list-style-type: square; }
  ul ul {
    margin-left: 20px; }

.align_right {
  text-align: right; }

.align_left {
  text-align: left; }

.align_center {
  text-align: center; }

.align_justify {
  text-align: justify; }

.upper_case {
  text-transform: uppercase; }

.lower_case {
  text-transform: lowercase; }

.div-center {
  text-align: center; }

.l-card {
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  display: inline-block;
  background-color: rgba(250,250,250,1);
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 0;
  margin-bottom: 1em; }
  .l-card img {
    height: 100% !important;
    width: 100%;
    border-bottom: 1px solid #BDC3C7; }
  .l-card p {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em; }
  .l-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); }

.l-card-big {
  width: 100%;
  padding: 2em; }

.l-card-content h3 {
  padding-bottom: 0; }

thead tr {
  border-bottom: 2px solid rgba(200, 200, 200, 0.5);
  height: 25px; }
thead th {
  font-size: 110%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  padding-top: 10px;
  padding-bottom: 10px; }
thead th:first-child {
  border-left: none; }
thead th:last-child {
  border-right: none; }

tbody tr {
  height: 30px;
  background-color: #fff; }
tbody td {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }
tbody td:first-child {
  border-left: none; }
tbody td:last-child {
  border-right: none; }

.table_bordered tbody td, .table_bordered thead th {
  border-right: 1px solid rgba(200, 200, 200, 0.5); }

.table_bordered th {
  border-top: 1px solid rgba(200, 200, 200, 0.5); }

.table_bordered td:first-child, .table_bordered th:first-child {
  border-left: 1px solid rgba(200, 200, 200, 0.5); }

.table_striped tr:nth-child(even) {
  background-color: #FAFAFA; }

tbody tr:hover, tbody tr:nth-child(even):hover {
  background-color: #ECF0F1; }

.alert {
  position: fixed;
  top: 10px;
  box-sizing: border-box;
  z-index: 80;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  float: left;
  box-sizing: border-box;
  margin: auto 1%;
  float: left;
  box-sizing: border-box;
  margin: auto 1%;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 2px;
  padding: 20px;
  text-shadow: rgba(0, 0, 0, 0.1) -1px 0, rgba(0, 0, 0, 0.1) 0 -1px, rgba(255, 255, 255, 0.1) 1px 0, rgba(255, 255, 255, 0.1) 0 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(255, 255, 255, 0.1) 1px 1px; }
  @media only screen and (max-width: 48.1em) {
    .alert {
      width: 81.33333%; } }
  @media only screen and (min-width: 48.1em) and (max-width: 64em) {
    .alert {
      width: 64.66667%; } }
  @media only screen and (min-width: 64em) {
    .alert {
      width: 48%; } }
  @media only screen and (max-width: 48.1em) {
    .alert {
      margin-left: 9.33333%; } }
  @media only screen and (min-width: 48.1em) and (max-width: 64em) {
    .alert {
      margin-left: 17.66667%; } }
  @media only screen and (min-width: 64em) {
    .alert {
      margin-left: 26%; } }

.alert-success {
  background-color: #2ECC71;
  color: #ffffff; }

.alert-info {
  background-color: #03a9f4;
  color: #ffffff; }

.alert-close {
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  font-size: 21px;
  line-height: 10px;
  float: right;
  opacity: .5; }

.alert-error {
  background-color: #D91E18;
  color: #ffffff; }

@media only screen and (max-width: 48.1em) {
  .hidden-small {
    display: none; } }
@media only screen and (min-width: 48.1em) and (max-width: 64em) {
  .hidden-medium {
    display: none; } }
@media only screen and (min-width: 64em) {
  .hidden-large {
    display: none; } }
@media only screen and (max-width: 48.1em) {
  nav.vertical {
    width: 100%;
    flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1; }
    nav.vertical > ul {
      display: none;
      width: 100%;
      margin: 0;
      padding: 0; }
      nav.vertical > ul li {
        overflow: hidden;
        list-style-type: none;
        margin-left: 0;
        line-height: 48px; }
        nav.vertical > ul li.active {
          background-color: #BDC3C7; }
          nav.vertical > ul li.active a {
            color: #000; }
        nav.vertical > ul li a {
          color: #000000;
          transition: all 0.2s ease-in-out;
          padding-left: 16px;
          display: block; }
          nav.vertical > ul li a:hover {
            color: #4285f4; }
          nav.vertical > ul li a:active {
            background-color: #ECECEC; }
          nav.vertical > ul li a i.icon {
            font-family: 'FontAwesome';
            margin-right: 16px;
            line-height: 19px; }
        nav.vertical > ul li .divider {
          border-bottom: 1px solid #ECECEC;
          margin: 0 auto;
          width: 190px; }
        nav.vertical > ul li.dropdown {
          box-sizing: border-box; }
          nav.vertical > ul li.dropdown > a .pull-right {
            text-align: right;
            margin-right: 20px; }
          nav.vertical > ul li.dropdown.open {
            background-color: #ECECEC; }
          nav.vertical > ul li.dropdown > ul {
            margin: 0;
            display: none; }
            nav.vertical > ul li.dropdown > ul li {
              height: auto;
              background-color: #fafafa; }
              nav.vertical > ul li.dropdown > ul li a {
                padding-left: 32px; }
      nav.vertical > ul li a {
        padding-right: 1em; }
        nav.vertical > ul li a .divider {
          border-bottom: 1px solid #ECECEC;
          width: 100%; }
    nav.vertical button {
      color: #000000;
      background-color: transparent;
      border: 0;
      display: block;
      font-size: 1.2em;
      margin: 10px;
      cursor: pointer; }
  nav.horizontal {
    background-color: white;
    width: 100%;
    flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1; }
    nav.horizontal section > ul {
      display: none;
      width: 100%;
      margin: 0;
      padding: 0; }
      nav.horizontal section > ul li {
        overflow: hidden;
        list-style-type: none;
        margin-left: 0;
        line-height: 48px; }
        nav.horizontal section > ul li.active {
          background-color: #BDC3C7; }
          nav.horizontal section > ul li.active a {
            color: #000; }
        nav.horizontal section > ul li a {
          color: #000000;
          transition: all 0.2s ease-in-out;
          padding-left: 16px;
          display: block; }
          nav.horizontal section > ul li a:hover {
            color: #4285f4; }
          nav.horizontal section > ul li a:active {
            background-color: #ECECEC; }
          nav.horizontal section > ul li a i.icon {
            font-family: 'FontAwesome';
            margin-right: 16px;
            line-height: 19px; }
        nav.horizontal section > ul li .divider {
          border-bottom: 1px solid #ECECEC;
          margin: 0 auto;
          width: 190px; }
        nav.horizontal section > ul li.dropdown {
          box-sizing: border-box; }
          nav.horizontal section > ul li.dropdown > a .pull-right {
            text-align: right;
            margin-right: 20px; }
          nav.horizontal section > ul li.dropdown.open {
            background-color: #ECECEC; }
          nav.horizontal section > ul li.dropdown > ul {
            margin: 0;
            display: none; }
            nav.horizontal section > ul li.dropdown > ul li {
              height: auto;
              background-color: #fafafa; }
              nav.horizontal section > ul li.dropdown > ul li a {
                padding-left: 32px; }
      nav.horizontal section > ul li a {
        padding-right: 1em; }
        nav.horizontal section > ul li a .divider {
          border-bottom: 1px solid #ECECEC;
          width: 100%; }
    nav.horizontal button {
      color: #000000;
      background-color: transparent;
      border: 0;
      display: block;
      font-size: 1.2em;
      margin: 10px;
      cursor: pointer; } }
@media only screen and (min-width: 48.1em) {
  nav.vertical {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 0 5px -10px rgba(0, 0, 0, 0.23), 0 0 25px rgba(0, 0, 0, 0.05); }
    nav.vertical button {
      display: none; }
    nav.vertical > ul {
      margin: 0;
      padding: 0; }
      nav.vertical > ul li {
        overflow: hidden;
        list-style-type: none;
        margin-left: 0;
        line-height: 48px; }
        nav.vertical > ul li.active {
          background-color: #BDC3C7; }
          nav.vertical > ul li.active a {
            color: #000; }
        nav.vertical > ul li a {
          color: #000000;
          transition: all 0.2s ease-in-out;
          padding-left: 16px;
          display: block; }
          nav.vertical > ul li a:hover {
            color: #4285f4; }
          nav.vertical > ul li a:active {
            background-color: #ECECEC; }
          nav.vertical > ul li a i.icon {
            font-family: 'FontAwesome';
            margin-right: 16px;
            line-height: 19px; }
        nav.vertical > ul li .divider {
          border-bottom: 1px solid #ECECEC;
          margin: 0 auto;
          width: 190px; }
        nav.vertical > ul li.dropdown {
          box-sizing: border-box; }
          nav.vertical > ul li.dropdown > a .pull-right {
            text-align: right;
            margin-right: 20px; }
          nav.vertical > ul li.dropdown.open {
            background-color: #ECECEC; }
          nav.vertical > ul li.dropdown > ul {
            margin: 0;
            display: none; }
            nav.vertical > ul li.dropdown > ul li {
              height: auto;
              background-color: #fafafa; }
              nav.vertical > ul li.dropdown > ul li a {
                padding-left: 32px; }
      nav.vertical > ul.raised {
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05); }
      nav.vertical > ul.fixed {
        position: fixed;
        width: 220px;
        height: 100%; }
  nav.horizontal {
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative; }
    nav.horizontal button {
      display: none; }
    nav.horizontal section {
      display: block; }
      nav.horizontal section.left ul {
        float: left; }
      nav.horizontal section.right ul {
        float: right; }
    nav.horizontal > section > ul {
      display: inline-block;
      margin: 0;
      padding: 0; }
      nav.horizontal > section > ul.align_right {
        float: right; }
      nav.horizontal > section > ul li {
        overflow: hidden;
        list-style-type: none;
        margin-left: 0;
        line-height: 48px; }
        nav.horizontal > section > ul li.active {
          background-color: #BDC3C7; }
          nav.horizontal > section > ul li.active a {
            color: #000; }
        nav.horizontal > section > ul li a {
          color: #000000;
          transition: all 0.2s ease-in-out;
          padding-left: 16px;
          display: block; }
          nav.horizontal > section > ul li a:hover {
            color: #4285f4; }
          nav.horizontal > section > ul li a:active {
            background-color: #ECECEC; }
          nav.horizontal > section > ul li a i.icon {
            font-family: 'FontAwesome';
            margin-right: 16px;
            line-height: 19px; }
        nav.horizontal > section > ul li .divider {
          border-bottom: 1px solid #ECECEC;
          margin: 0 auto;
          width: 190px; }
        nav.horizontal > section > ul li.dropdown {
          box-sizing: border-box; }
          nav.horizontal > section > ul li.dropdown > a .pull-right {
            text-align: right;
            margin-right: 20px; }
          nav.horizontal > section > ul li.dropdown.open {
            background-color: #ECECEC; }
          nav.horizontal > section > ul li.dropdown > ul {
            margin: 0;
            display: none; }
            nav.horizontal > section > ul li.dropdown > ul li {
              height: auto;
              background-color: #fafafa; }
              nav.horizontal > section > ul li.dropdown > ul li a {
                padding-left: 32px; }
      nav.horizontal > section > ul li {
        line-height: 2.5em;
        display: inline-block; }
        nav.horizontal > section > ul li a {
          padding-left: 1em;
          padding-right: 1em; }
      nav.horizontal > section > ul.raised {
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05); } }
.grid-container.menu-fixed {
  width: 100%;
  max-width: none;
  position: fixed;
  z-index: 20; }

.grid-container.menu {
  width: 100%;
  max-width: none;
  z-index: 20; }

select {
  background-color: #fff;
  font-size: 0.9em;
  line-height: 1.2em;
  padding-left: 0.5em;
  height: 2.5em;
  font-weight: 300;
  font-family: 'RobotoDraft';
  box-sizing: border-box;
  border: 1px solid #BDC3C7;
  border-radius: 2px; }

input[type=file] {
  border: none;
  padding: 0;
  height: 1.5em;
  height: 1.5rem; }
input.failure {
  border-color: #CF000F; }
input.success {
  border-color: #26A65B; }
input:disabled {
  background-color: #EBEBE4; }
input[type=color] {
  padding: 0; }

input, button, .button {
  font-size: 0.9em;
  line-height: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 2.5em;
  font-weight: 300;
  font-family: 'RobotoDraft';
  box-sizing: border-box;
  border: 1px solid #BDC3C7;
  border-radius: 2px; }
  input.yellow, button.yellow, .button.yellow {
    background-color: #F4D03F; }
  input.yellow:hover, button.yellow:hover, .button.yellow:hover {
    background-color: #f2c718; }
  input.grey, button.grey, .button.grey {
    background-color: #BDC3C7; }
  input.grey:hover, button.grey:hover, .button.grey:hover {
    background-color: #a7afb4; }
  input.light-grey, button.light-grey, .button.light-grey {
    background-color: #ECECEC; }
  input.light-grey:hover, button.light-grey:hover, .button.light-grey:hover {
    background-color: #d8d8d8; }
  input.blue, button.blue, .button.blue {
    background-color: #4285f4; }
  input.blue:hover, button.blue:hover, .button.blue:hover {
    background-color: #1b6cf2; }
  input.light-blue, button.light-blue, .button.light-blue {
    background-color: #03a9f4; }
  input.light-blue:hover, button.light-blue:hover, .button.light-blue:hover {
    background-color: #038dcc; }
  input.red, button.red, .button.red {
    background-color: #CF000F; }
  input.red:hover, button.red:hover, .button.red:hover {
    background-color: #a6000c; }
  input.light-red, button.light-red, .button.light-red {
    background-color: #D91E18; }
  input.light-red:hover, button.light-red:hover, .button.light-red:hover {
    background-color: #b41914; }
  input.green, button.green, .button.green {
    background-color: #26A65B; }
  input.green:hover, button.green:hover, .button.green:hover {
    background-color: #1e8549; }
  input.blue:hover:disabled, button.blue:hover:disabled, .button.blue:hover:disabled {
    background-color: #E8E8E8; }
  input:disabled, button:disabled, .button:disabled {
    background-color: #EAEAEA; }
  input.raised, button.raised, .button.raised {
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05); }
  input.raised:disabled:hover, button.raised:disabled:hover, .button.raised:disabled:hover {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05); }
  input.raised:hover, button.raised:hover, .button.raised:hover {
    -webkit-transform: translate(0, -1px);
    transform: translate(0, -1px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); }
  input.raised:active, button.raised:active, .button.raised:active {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease-in-out; }

.button {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 500;
  height: auto;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px; }
  .button.good-width {
    float: left;
    box-sizing: border-box;
    margin: auto 1%;
    float: left;
    box-sizing: border-box;
    margin: auto 1%; }
    @media only screen and (max-width: 48.1em) {
      .button.good-width {
        margin-left: 26%; } }
    @media only screen and (min-width: 48.1em) and (max-width: 64em) {
      .button.good-width {
        margin-left: 26%; } }
    @media only screen and (min-width: 64em) {
      .button.good-width {
        margin-left: 34.33333%; } }
    @media only screen and (max-width: 48.1em) {
      .button.good-width {
        width: 48%; } }
    @media only screen and (min-width: 48.1em) and (max-width: 64em) {
      .button.good-width {
        width: 48%; } }
    @media only screen and (min-width: 64em) {
      .button.good-width {
        width: 31.33333%; } }
  .button:hover {
    color: #ffffff; }

input[type=button], input[type=submit], input[type=reset], button {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 500;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transform: translate(0, 0);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box; }
  input[type=button].light-grey, input[type=submit].light-grey, input[type=reset].light-grey, button.light-grey {
    color: #333333; }

textarea {
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 0.5em;
  height: 5em;
  font-family: 'RobotoDraft';
  font-weight: 300;
  box-sizing: border-box;
  border: 1px solid #BDC3C7;
  border-radius: 2px; }
  textarea.failure {
    border-color: #CF000F; }
  textarea.success {
    border-color: #26A65B; }
  textarea:disabled {
    background-color: #EBEBE4; }

.jumbotron {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("https://farm8.staticflickr.com/7313/8837173497_db690a9a6c_k_d.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center; }
  .jumbotron .jumbotron-container {
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 80rem;
    width: 95%;
    padding: 1em;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05); }
    @media only screen {
      .jumbotron .jumbotron-container [class*="small-"] {
        float: left;
        box-sizing: border-box;
        margin: auto 1%; }
      .jumbotron .jumbotron-container .small-1 {
        width: 6.33333%; }
      .jumbotron .jumbotron-container .small-2 {
        width: 14.66667%; }
      .jumbotron .jumbotron-container .small-3 {
        width: 23%; }
      .jumbotron .jumbotron-container .small-4 {
        width: 31.33333%; }
      .jumbotron .jumbotron-container .small-5 {
        width: 39.66667%; }
      .jumbotron .jumbotron-container .small-6 {
        width: 48%; }
      .jumbotron .jumbotron-container .small-7 {
        width: 56.33333%; }
      .jumbotron .jumbotron-container .small-8 {
        width: 64.66667%; }
      .jumbotron .jumbotron-container .small-9 {
        width: 73%; }
      .jumbotron .jumbotron-container .small-10 {
        width: 81.33333%; }
      .jumbotron .jumbotron-container .small-11 {
        width: 89.66667%; }
      .jumbotron .jumbotron-container .small-12 {
        width: 98%; }
      .jumbotron .jumbotron-container .offset-s-1 {
        margin-left: 9.33333%; }
      .jumbotron .jumbotron-container .offset-s-2 {
        margin-left: 17.66667%; }
      .jumbotron .jumbotron-container .offset-s-3 {
        margin-left: 26%; }
      .jumbotron .jumbotron-container .offset-s-4 {
        margin-left: 34.33333%; }
      .jumbotron .jumbotron-container .offset-s-5 {
        margin-left: 42.66667%; }
      .jumbotron .jumbotron-container .offset-s-6 {
        margin-left: 51%; }
      .jumbotron .jumbotron-container .offset-s-7 {
        margin-left: 59.33333%; }
      .jumbotron .jumbotron-container .offset-s-8 {
        margin-left: 67.66667%; }
      .jumbotron .jumbotron-container .offset-s-9 {
        margin-left: 76%; }
      .jumbotron .jumbotron-container .offset-s-10 {
        margin-left: 84.33333%; }
      .jumbotron .jumbotron-container .offset-s-11 {
        margin-left: 92.66667%; } }
    @media only screen and (min-width: 48.1em) {
      .jumbotron .jumbotron-container [class*="medium-"] {
        float: left;
        box-sizing: border-box;
        margin: auto 1%; }
      .jumbotron .jumbotron-container .medium-1 {
        width: 6.33333%; }
      .jumbotron .jumbotron-container .medium-2 {
        width: 14.66667%; }
      .jumbotron .jumbotron-container .medium-3 {
        width: 23%; }
      .jumbotron .jumbotron-container .medium-4 {
        width: 31.33333%; }
      .jumbotron .jumbotron-container .medium-5 {
        width: 39.66667%; }
      .jumbotron .jumbotron-container .medium-6 {
        width: 48%; }
      .jumbotron .jumbotron-container .medium-7 {
        width: 56.33333%; }
      .jumbotron .jumbotron-container .medium-8 {
        width: 64.66667%; }
      .jumbotron .jumbotron-container .medium-9 {
        width: 73%; }
      .jumbotron .jumbotron-container .medium-10 {
        width: 81.33333%; }
      .jumbotron .jumbotron-container .medium-11 {
        width: 89.66667%; }
      .jumbotron .jumbotron-container .medium-12 {
        width: 98%; }
      .jumbotron .jumbotron-container .offset-m-1 {
        margin-left: 9.33333%; }
      .jumbotron .jumbotron-container .offset-m-2 {
        margin-left: 17.66667%; }
      .jumbotron .jumbotron-container .offset-m-3 {
        margin-left: 26%; }
      .jumbotron .jumbotron-container .offset-m-4 {
        margin-left: 34.33333%; }
      .jumbotron .jumbotron-container .offset-m-5 {
        margin-left: 42.66667%; }
      .jumbotron .jumbotron-container .offset-m-6 {
        margin-left: 51%; }
      .jumbotron .jumbotron-container .offset-m-7 {
        margin-left: 59.33333%; }
      .jumbotron .jumbotron-container .offset-m-8 {
        margin-left: 67.66667%; }
      .jumbotron .jumbotron-container .offset-m-9 {
        margin-left: 76%; }
      .jumbotron .jumbotron-container .offset-m-10 {
        margin-left: 84.33333%; }
      .jumbotron .jumbotron-container .offset-m-11 {
        margin-left: 92.66667%; } }
    @media only screen and (min-width: 64em) {
      .jumbotron .jumbotron-container [class*="large-"] {
        float: left;
        box-sizing: border-box;
        margin: auto 1%; }
      .jumbotron .jumbotron-container .large-1 {
        width: 6.33333%; }
      .jumbotron .jumbotron-container .large-2 {
        width: 14.66667%; }
      .jumbotron .jumbotron-container .large-3 {
        width: 23%; }
      .jumbotron .jumbotron-container .large-4 {
        width: 31.33333%; }
      .jumbotron .jumbotron-container .large-5 {
        width: 39.66667%; }
      .jumbotron .jumbotron-container .large-6 {
        width: 48%; }
      .jumbotron .jumbotron-container .large-7 {
        width: 56.33333%; }
      .jumbotron .jumbotron-container .large-8 {
        width: 64.66667%; }
      .jumbotron .jumbotron-container .large-9 {
        width: 73%; }
      .jumbotron .jumbotron-container .large-10 {
        width: 81.33333%; }
      .jumbotron .jumbotron-container .large-11 {
        width: 89.66667%; }
      .jumbotron .jumbotron-container .large-12 {
        width: 98%; }
      .jumbotron .jumbotron-container .offset-l-1 {
        margin-left: 9.33333%; }
      .jumbotron .jumbotron-container .offset-l-2 {
        margin-left: 17.66667%; }
      .jumbotron .jumbotron-container .offset-l-3 {
        margin-left: 26%; }
      .jumbotron .jumbotron-container .offset-l-4 {
        margin-left: 34.33333%; }
      .jumbotron .jumbotron-container .offset-l-5 {
        margin-left: 42.66667%; }
      .jumbotron .jumbotron-container .offset-l-6 {
        margin-left: 51%; }
      .jumbotron .jumbotron-container .offset-l-7 {
        margin-left: 59.33333%; }
      .jumbotron .jumbotron-container .offset-l-8 {
        margin-left: 67.66667%; }
      .jumbotron .jumbotron-container .offset-l-9 {
        margin-left: 76%; }
      .jumbotron .jumbotron-container .offset-l-10 {
        margin-left: 84.33333%; }
      .jumbotron .jumbotron-container .offset-l-11 {
        margin-left: 92.66667%; } }
    .jumbotron .jumbotron-container .grid-row {
      width: 100%;
      overflow: hidden;
      margin-bottom: 1em; }
  .jumbotron.good-height {
    padding: 80px 0; }

.grid-container {
  max-width: 80rem;
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  padding: 1em; }
  @media only screen {
    .grid-container [class*="small-"] {
      float: left;
      box-sizing: border-box;
      margin: auto 1%; }
    .grid-container .small-1 {
      width: 6.33333%; }
    .grid-container .small-2 {
      width: 14.66667%; }
    .grid-container .small-3 {
      width: 23%; }
    .grid-container .small-4 {
      width: 31.33333%; }
    .grid-container .small-5 {
      width: 39.66667%; }
    .grid-container .small-6 {
      width: 48%; }
    .grid-container .small-7 {
      width: 56.33333%; }
    .grid-container .small-8 {
      width: 64.66667%; }
    .grid-container .small-9 {
      width: 73%; }
    .grid-container .small-10 {
      width: 81.33333%; }
    .grid-container .small-11 {
      width: 89.66667%; }
    .grid-container .small-12 {
      width: 98%; }
    .grid-container .offset-s-1 {
      margin-left: 9.33333%; }
    .grid-container .offset-s-2 {
      margin-left: 17.66667%; }
    .grid-container .offset-s-3 {
      margin-left: 26%; }
    .grid-container .offset-s-4 {
      margin-left: 34.33333%; }
    .grid-container .offset-s-5 {
      margin-left: 42.66667%; }
    .grid-container .offset-s-6 {
      margin-left: 51%; }
    .grid-container .offset-s-7 {
      margin-left: 59.33333%; }
    .grid-container .offset-s-8 {
      margin-left: 67.66667%; }
    .grid-container .offset-s-9 {
      margin-left: 76%; }
    .grid-container .offset-s-10 {
      margin-left: 84.33333%; }
    .grid-container .offset-s-11 {
      margin-left: 92.66667%; } }
  @media only screen and (min-width: 48.1em) {
    .grid-container [class*="medium-"] {
      float: left;
      box-sizing: border-box;
      margin: auto 1%; }
    .grid-container .medium-1 {
      width: 6.33333%; }
    .grid-container .medium-2 {
      width: 14.66667%; }
    .grid-container .medium-3 {
      width: 23%; }
    .grid-container .medium-4 {
      width: 31.33333%; }
    .grid-container .medium-5 {
      width: 39.66667%; }
    .grid-container .medium-6 {
      width: 48%; }
    .grid-container .medium-7 {
      width: 56.33333%; }
    .grid-container .medium-8 {
      width: 64.66667%; }
    .grid-container .medium-9 {
      width: 73%; }
    .grid-container .medium-10 {
      width: 81.33333%; }
    .grid-container .medium-11 {
      width: 89.66667%; }
    .grid-container .medium-12 {
      width: 98%; }
    .grid-container .offset-m-1 {
      margin-left: 9.33333%; }
    .grid-container .offset-m-2 {
      margin-left: 17.66667%; }
    .grid-container .offset-m-3 {
      margin-left: 26%; }
    .grid-container .offset-m-4 {
      margin-left: 34.33333%; }
    .grid-container .offset-m-5 {
      margin-left: 42.66667%; }
    .grid-container .offset-m-6 {
      margin-left: 51%; }
    .grid-container .offset-m-7 {
      margin-left: 59.33333%; }
    .grid-container .offset-m-8 {
      margin-left: 67.66667%; }
    .grid-container .offset-m-9 {
      margin-left: 76%; }
    .grid-container .offset-m-10 {
      margin-left: 84.33333%; }
    .grid-container .offset-m-11 {
      margin-left: 92.66667%; } }
  @media only screen and (min-width: 64em) {
    .grid-container [class*="large-"] {
      float: left;
      box-sizing: border-box;
      margin: auto 1%; }
    .grid-container .large-1 {
      width: 6.33333%; }
    .grid-container .large-2 {
      width: 14.66667%; }
    .grid-container .large-3 {
      width: 23%; }
    .grid-container .large-4 {
      width: 31.33333%; }
    .grid-container .large-5 {
      width: 39.66667%; }
    .grid-container .large-6 {
      width: 48%; }
    .grid-container .large-7 {
      width: 56.33333%; }
    .grid-container .large-8 {
      width: 64.66667%; }
    .grid-container .large-9 {
      width: 73%; }
    .grid-container .large-10 {
      width: 81.33333%; }
    .grid-container .large-11 {
      width: 89.66667%; }
    .grid-container .large-12 {
      width: 98%; }
    .grid-container .offset-l-1 {
      margin-left: 9.33333%; }
    .grid-container .offset-l-2 {
      margin-left: 17.66667%; }
    .grid-container .offset-l-3 {
      margin-left: 26%; }
    .grid-container .offset-l-4 {
      margin-left: 34.33333%; }
    .grid-container .offset-l-5 {
      margin-left: 42.66667%; }
    .grid-container .offset-l-6 {
      margin-left: 51%; }
    .grid-container .offset-l-7 {
      margin-left: 59.33333%; }
    .grid-container .offset-l-8 {
      margin-left: 67.66667%; }
    .grid-container .offset-l-9 {
      margin-left: 76%; }
    .grid-container .offset-l-10 {
      margin-left: 84.33333%; }
    .grid-container .offset-l-11 {
      margin-left: 92.66667%; } }
  .grid-container .grid-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em; }

/*# sourceMappingURL=framework.css.map */
